@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-color: #16a3b7;
$delete-color: #dc3445;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 650px;
}

.todo-input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;

  & p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  & .add-new__task {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 8px;

    & input {
      height: 40px;
      padding: 0 15px;
      outline: none;
      border: 1px solid grey;
      border-radius: 8px;
    }

    & button {
      background-color: $primary-color;
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      height: 40px;
    }
  }
}

.todo-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > p {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  & .todo-list-btn__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & button {
    background-color: $primary-color;
    padding: 10px 80px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }

  & .todo-list__items {
    margin: 0 0 25px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  & .todo-item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;

    & p {
      font-size: 24px;
    }
    & .todo-item-icons__wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #000;
      font-size: 18px;

      & svg {
        cursor: pointer;
      }

      & svg:nth-child(2) {
        color: #fbc500;
      }

      & svg:nth-child(3) {
        color: $delete-color;
      }
    }
  }

  & .delete-btn {
    background-color: $delete-color;
  }
}

.strike__throught {
  color: $delete-color;
  text-decoration: line-through;
}

.checkbox__completed {
  color: green;
}

.checkbox__uncompleted {
  color: gray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modal__body {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & :nth-child(1) {
      padding-bottom: 40px;
    }

    & input {
      height: 40px;
      padding: 0 15px;
      outline: none;
      border: 1px solid grey;
      border-radius: 8px;
    }
  }
}

.loader__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
